@use '../abstracts' as *;

.heading1 {
  @include heading1;
}

.form {
  @include form;
}

.disabledButton {
  @include colorButton(false);
}

.activeButton {
  @include colorButton(true);
}

.whiteButton {
  @include whiteButton;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 318px;
}

.label {
  @include font-label;
}

.input {
  border: 0;
  background-color: $light-gray;
  height: 40px;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0 10px;
  &::placeholder {
    color: $dark-gray;
  }
}
